{%- style -%}
{%- endstyle -%}

<section class="page-width"></section>

{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "header",
      "content": "Banner Details"
    },
    {
      "type": "text",
      "id": "custom-banner__sub",
      "label": "Banner Sub Title",
      "default": "Quality"
    },
    {
      "type": "text",
      "id": "custom-banner__title",
      "label": "Banner Title",
      "default": "Quality Products"
    },
    {
      "type": "textarea",
      "id": "custom-banner__description",
      "label": "Banner Description",
      "default": "Product that you will truly love"
    },
    {
      "type": "text",
      "id": "banner_button_text_primary",
      "label": "Button 1 Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "banner_button_url_primary",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "banner_button_text_secondary",
      "label": "Button 2 Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "banner_button_url_secondary",
      "label": "Button 2 Link"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner Section"
    }
  ]
}
{% endschema %}
