{%- style -%}
  .custom-branch__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      gap: 20px;
  }

  .custom_branch__body {
    padding-top:30px; padding-bottom:30px;
  }
{%- endstyle -%}

<section
  class="page-width custom-branch__section"
  style="
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  "
>
  <div class="custom-branch__container">
    <div class="custom-branch__header">
      <div class="custom_branch__header--container">
        <h2 class="h1">{{ section.settings['custom-branch__title'] }}</h2>
      </div>
      <div class="custom_branch__header--container">
        <p>{{ section.settings['custom-branch__description'] }}</p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Branches Section",
  "settings": [
  {
    "type": "header",
    "content": "Section Spacing"
  },
  {
    "type": "range",
    "id": "padding_top",
    "label": "Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "default": 20
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "label": "Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "default": 20
  },
  {
    "type": "header",
    "content": "branch Details"
  },
  {
    "type": "text",
    "id": "custom-branch__title",
    "label": "branch Title",
    "default": "Quality Products"
  },
  {
    "type": "textarea",
    "id": "custom-branch__description",
    "label": "branch Description",
    "default": "Product that you will truly love"
  },
  ],
  "presets": [
    {
      "name": "Custom Store Branches Section"
    }
  ]
}
{% endschema %}
