{%- style -%}
{%- endstyle -%}

<section class="">Custom Banner</section>

{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "header",
      "content": "Banner Details"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner Section"
    }
  ]
}
{% endschema %}
