{% schema %}
{
  "name": "Zekoki Blurp Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Custom Section "
    }
  ]
}
{% endschema %}

<h2>{{ section.settings.heading }}</h2>
<div class="page-width">
  <div class="Zekoki Blurp Section">
    <div class="zekoki-blurp__container blurp-first">
      <span>Quality</span>
      <h2>Explore Our Diverse Product Categories</h2>
      <p>
        At Zekoki, we provide an extensive range of power tools, machinery, and accessories designed to meet your needs.
        Our commitment to quality and affordability ensures you get the best value for your investment.At Zekoki, we
        provide an extensive range of power tools, machinery, and accessories designed to meet your needs. Our
        commitment to quality and affordability ensures you get the best value for your investment.
      </p>
    </div>

    <div class="zekoki-blurp__container blurp-second"></div>
  </div>
</div>
